@media (min-width: 1200px){
  .container {
    width: 1365px;
  }
}

body{
  margin-top: 3rem;
}

/* .colTop{
  background-color: #2b82f3;
} */


h1{
  font-size: 1.6rem;
  text-transform:uppercase;
  text-decoration:underline;
}

.col-xs-12 {
  width: 70%;
  margin-left: 12%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.dropdown {
  text-align: right;
}
.sliderImage{
  width: 100%;
  max-height: 500px;
}

.btn-block {
  display: block;
  width: 10%;
}

 .carousel-caption {
  color: green;
  font-weight: bold;                                                                                                                                                                               
} 

.buttoncards{
  width: 50%;
  height: 10%;
}
.cardsContainer{
  width: 100%;
  position: relative;
  margin-right: 100px;
}
.cardRow {
  margin-top: 20px;
}
.btn-primary {
width:200px;


}

.alert-danger {
  background: linear-gradient(#02224d,#7FB3D5 );
  color: #fff;
}
input{
  color: #02224d;
}
textarea {
  color:#02224d;
}
.btn-default {
  color: #02224d;
  background-color: #fff;
}
body {
   color: #02224d;
   margin-top:3rem;
  
}


html {
  font-size: 10px;
  -webkit-tap-highlight-color: #02224d;
}
button {
  color:#02224d;
}
.colTop{
  background-color:#7FB3D5;
}



/*
.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
  float: none;
}
*/
