@media (min-width: 1200px){
  .container {
    width: 1365px;
  }
}

body{
  margin-top: 3rem;
}

/* .colTop{
  background-color: #2b82f3;
} */


h1{
  font-size: 1.6rem;
  text-transform:uppercase;
  text-decoration:underline;
  font-weight: 600;
}

.col-xs-12 {
  width: 70%;
  margin-left: 12%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.dropdown {
  text-align: right;
}
.sliderImage{
  width: 100%;
  max-height: 500px;
}

.btn-block {
  display: block;
  width: 10%;
}

 .carousel-caption {
  color: green;
  font-weight: bold;                                                                                                                                                                               
} 

.buttoncards{
  width: 50%;
  height: 10%;
}
.cardsContainer{
  width: 100%;
  position: relative;
  margin-right: 100px;
}
.cardRow {
  margin-top: 20px;
}
.btn-primary {
width:200px;


}

.alert-danger {
  background: linear-gradient(#02224d,#7FB3D5 );
  color:#02224d;
  font-size: 150%;
}
input{
  color: #02224d;
}
textarea {
  color:#02224d;
}

.btn-default {
  color: #02224d;
  background-color: #fff;
}
body {
   color: #02224d;
   margin-top:3rem;
  
}


html {
  font-size: 10px;
  -webkit-tap-highlight-color: #02224d;
}
button {
  color:#02224d;
}
.colTop{
  background-color:#7FB3D5;
}

.figure-caption{
font-size: 90%;
color:#fff;
text-transform:uppercase;
font-weight:600;
}
.img-thumbnail{
  padding: .5rem;
  border:2px solid #868e96;
  border-radius:0;
  background-color: #dddddd;
}


  


/*
.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
  float: none;
}
*/

.left, .right{
  padding:2em;
}

.left{
  height:500px;
  width: 900px;
  display:inline-flex;
  
}

#card_info{
  background-color: blue;
}


.right{
  margin-top: 25%;
  margin-left: 35%;
  margin-right: 5%;

}

.wedding-card{
  width:100%;
  position: relative;
  margin:0 auto; 
}

.wedding-card-image{
  width:100%;
  height: 100%;
}

.blah .wedding-card-text{
  top:130px;
  left:auto;
  width:220px;
  right:0;
}

.blah .wedding-card-text::before{
  content:'save the date'
}

.blah .and{
  display:none;
}

.blah .groom::before{
  content:'& '
}

.blah .pleasure{
  font-size: .9em;
}

.wedding-card-text{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  }


.baptism-card-image{
  width:100%;
  height: 100%;
}

.baptism-card{
  width:100%;
  position: relative;
  margin:0 auto; 
}

.baptism-card-text{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding:8em;
  text-align: justify;
  
}


textarea {
  background-color: blue;
}

@import url('https://fonts.googleapis.com/css?family=Hi+Melody');


.bleuet-love{
  text-align: center;
  font-family: 'Hi Melody', cursive, sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  padding-bottom: 50%;
  
}





.golden-love{
  text-align: center;
  font-family: 'Hi Melody', cursive, sans-serif;
  

}



/* font-family: 'Great Vibes', cursive;
font-family: 'Handlee', cursive;
font-family: 'Rancho', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Montez', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Gamja Flower', cursive;
font-family: 'Hi Melody', cursive; */

